.login-btn{
    width: 50%;
    background-color: rgb(0, 71, 171);
    border-radius: 25px;
    border: none;
}
.card, .card-body{
    color: rgb(0, 0, 0);
    border-radius: 45px;
}
.card-header{
    background-color: rgb(0, 71, 171);
    border-radius: 45px;
    color: white;
}