<body *ngIf="isLoggedIn()">
  <!-- Nav Bar -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">

      <!-- offcanvas trigger -->
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
        aria-controls="offcanvasExample">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- offcancas trigger -->

      <a class="navbar-brand" href="#">
        <img src="../assets/logo.png" alt="E-MEDIC Logo" class="navbar-logo">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <p class="mb-2 mb-lg-0 bg-warning px-1 py-1 me-2">{{roleName}}</p>

        <ul class="navbar-nav mb-2 mb-lg-0  ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="bi bi-person-circle"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item mb-2 mb-lg-0 px-3 py-1" *ngIf="isLoggedIn()" (click)="logOut()"> <i
                    class="bi bi-box-arrow-left"></i> logout</a></li>
            </ul>
          </li>
        </ul>
        <p class="mb-2 mb-lg-0 text-light px-1 py-1 me-2">Ekanayaka</p>

        <button class="btn btn-danger mb-2 mb-lg-0 px-3 py-1" *ngIf="!isLoggedIn()" (click)="logIn()"><i
            class="bi bi-box-arrow-right"></i> LOGIN</button>

      </div>
    </div>
  </nav>
  <!-- Nav Bar -->

  <!-- offcanvas -->
  <div class="offcanvas offcanvas-start text-white sidebar-nav " tabindex="-1" id="offcanvasExample"
    aria-labelledby="offcanvasExampleLabel">


    <div class="offcanvas-body p-0 ">

      <nav class="navbar-dark">
        <ul class="navbar-nav">
          <li>
            <div class="muted small fw-bold text-uppercase px-2">CORE</div>
          </li>
          <li>
            <a routerLink="/dashboard" class="nav-link  px-2 active">
              <span class="me-2"><i class="bi bi-house"></i></span>
              <span>Dashboard</span>

            </a>
          </li>

          <li class="my-4">
            <hr class="dropdown-di">
          </li>

          <li>
            <div class="muted small fw-bold text-uppercase px-2">InterFace</div>
          </li>

          <li>
            <a class="nav-link px-2 sidebar-link" data-bs-toggle="collapse" href="#collapseExample" role="button"
              aria-expanded="false" aria-controls="collapseExample">
              <span class="me-2"><i class="bi bi-columns"></i></span>
              <span>Management</span>
              <span class="right-icon ms-auto"><i class="bi bi-chevron-down"></i></span>
            </a>
            <div class="collapse" id="collapseExample">
              <div>
                <ul class="navbar-nav ps-3">


                  <li>
                    <a routerLink="/patient" class="nav-link px-3">
                      <span class="me-1">
                        <i class="bi bi-person"></i>
                      </span>
                      <span>Patient</span>
                    </a>
                  </li>


                  <li>
                    <a routerLink="/doctor" class="nav-link px-3">
                      <span class="me-1">
                        <i class="bi bi-person"></i>
                      </span>
                      <span>Doctor</span>
                    </a>
                  </li>


                  <li>
                    <a routerLink="/specialization" class="nav-link px-3">
                      <span class="me-1">
                        <i class="bi bi-clipboard2-pulse-fill"></i>
                      </span>
                      <span>Specialization</span>
                    </a>
                  </li>


                  <li>
                    <a routerLink="/appointment" class="nav-link px-3">
                      <span class="me-1">
                        <i class="bi bi-clipboard2-pulse-fill"></i>
                      </span>
                      <span>Appointment</span>
                    </a>
                  </li>


                  <li>
                    <a routerLink="/invoice" class="nav-link px-3">
                      <span class="me-1">
                        <i class="bi bi-clipboard2-pulse-fill"></i>
                      </span>
                      <span> Invoice</span>
                    </a>
                  </li>


                  <li>
                    <a routerLink="/schedule" class="nav-link px-3">
                      <span class="me-1">
                        <i class="bi bi-clipboard2-pulse-fill"></i>
                      </span>
                      <span> Schedule</span>
                    </a>
                  </li>


                  <!-- <li>
                      <a routerLink="/student" class="nav-link px-3">
                        <span class="me-1">
                            <i class="bi bi-person"></i>
                        </span>
                        <span>Student</span>
                      </a>
                    </li>-->


                  <li>
                    <a routerLink="/medicalhistory" class="nav-link px-3">
                      <span class="me-1">
                        <i class="bi bi-clipboard2-pulse-fill"></i>
                      </span>
                      <span>Medical History</span>
                    </a>
                  </li>


                  <li>
                    <a routerLink="/medication" class="nav-link px-3">
                      <span class="me-1">
                        <i class="bi bi-clipboard2-pulse-fill"></i>
                      </span>
                      <span> Medication</span>
                    </a>
                  </li>


                  <li>
                    <a routerLink="/prescription" class="nav-link px-3">
                      <span class="me-1">
                        <i class="bi bi-clipboard2-pulse-fill"></i>
                      </span>
                      <span> Prescription</span>
                    </a>
                  </li>


                  <li>
                    <a routerLink="/payment" class="nav-link px-3">
                      <span class="me-1">
                        <i class="bi bi-clipboard2-pulse-fill"></i>
                      </span>
                      <span> Payment</span>
                    </a>
                  </li>

                  <li>
                    <a routerLink="/rfq" class="nav-link px-3">
                      <span class="me-1">
                        <i class="bi bi-clipboard2-pulse-fill"></i>
                      </span>
                      <span> RFQ</span>
                    </a>
                  </li>



                  <li>
                    <a routerLink="/notification" class="nav-link px-3">
                      <span class="me-1">
                        <i class="bi bi-clipboard2-pulse-fill"></i>
                      </span>
                      <span> Notification</span>
                    </a>
                  </li>



                  <!--  <li>
                        <a routerLink="/teacher" class="nav-link px-3">
                          <span class="me-1">
                            <i class="bi bi-person-video"></i>
                          </span>
                          <span>Teacher</span>
                        </a>
                    </li>-->

                   <li>
                        <a routerLink="/course" class="nav-link px-3">
                          <span class="me-1">
                            <i class="bi bi-book"></i>
                          </span>
                          <span>Course</span>
                        </a>
                    </li> 

                  <!-- <li>
                        <a routerLink="/class" class="nav-link px-3">
                          <span class="me-1">
                            <i class="bi bi-rocket"></i>
                          </span>
                          <span>Class</span>
                        </a>
                    </li> -->



                </ul>
              </div>
            </div>
          </li>

          <li class="my-4">
            <hr class="dropdown-di">
          </li>

          <li>
            <div class="muted small fw-bold text-uppercase px-3">Panel</div>
          </li>

          <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseAdmin" role="button"
            aria-expanded="false" aria-controls="collapseAdmin">
            <span class="me-2"><i class="bi bi-person-lock"></i></span>
            <span>Administration</span>
            <span class="right-icon ms-auto"><i class="bi bi-chevron-down"></i></span>
          </a>

          <div class="collapse" id="collapseAdmin">
            <div>
              <ul class="navbar-nav ps-3">

                <li>
                  <a routerLink="/user" class="nav-link px-3">
                    <span class="me-1">
                      <i class="bi bi-person-plus"></i>
                    </span>
                    <span>User</span>
                  </a>
                </li>

                <li>
                  <a routerLink="/privilege" class="nav-link px-3">
                    <span class="me-1">
                      <i class="bi bi-rocket"></i>
                    </span>
                    <span>Privilege</span>
                  </a>
                </li>

                <li>
                  <a routerLink="/setting" class="nav-link px-3">
                    <span class="me-1">
                      <i class="bi bi-gear"></i>
                    </span>
                    <span>Settings</span>
                  </a>
                </li>

                <li>
                  <a routerLink="/tools" class="nav-link px-3">
                    <span class="me-1">
                      <i class="bi bi-tools"></i>
                    </span>
                    <span>Tools</span>
                  </a>
                </li>

                <li>
                  <a routerLink="/media" class="nav-link px-3">
                    <span class="me-1">
                      <i class="bi bi-mic-fill"></i>
                    </span>
                    <span>Media</span>
                  </a>
                </li>

              </ul>
            </div>
          </div>

          <li class="my-4">
            <hr class="dropdown-di">
          </li>

          <li>
            <div class="muted small fw-bold text-uppercase px-3">Reports</div>
          </li>

          <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseReport" role="button"
            aria-expanded="false" aria-controls="collapseReport">
            <span class="me-2"><i class="bi bi-graph-up"></i></span>
            <span>Chanelling</span>
            <span class="right-icon ms-auto"><i class="bi bi-chevron-down"></i></span>
          </a>

          <div class="collapse" id="collapseReport">
            <div>
              <ul class="navbar-nav ps-3">

                <li>
                  <a routerLink="/patientReport" class="nav-link px-3">
                    <span class="me-1">
                      <i class="bi bi-graph-up-arrow"></i>
                    </span>
                    <span>Patient Report</span>
                  </a>
                </li>

                <li>
                  <a routerLink="/studentreport" class="nav-link px-3">
                    <span class="me-1">
                      <i class="bi bi-graph-up-arrow"></i>
                    </span>
                    <span>Payment Report</span>
                  </a>
                </li>


              </ul>
            </div>
          </div>

        </ul>
      </nav>
    </div>
  </div>
  <!-- offcanvas -->

  <main class="">
    <div class="container-fluid">

      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>
</body>


<body *ngIf="!isLoggedIn()">
  <!-- Nav Bar -->

  <nav class="navbar navbar-expand-lg navbar-dark  fixed-top">
    <div class="container-fluid">

      <!-- offcanvas trigger -->
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
        aria-controls="offcanvasExample">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- offcancas trigger -->

      <a class="navbar-brand" href="#">
        <img src="../assets/logo.png" alt="E-MEDIC Logo" class="navbar-logo">
      </a>

      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#practoContent">
        <i class="bi bi-three-dots-vertical"></i>
      </button>

      <div class="collapse navbar-collapse" id="practoContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4" *ngIf="!isLoggedIn()">
          <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
        </ul>

        <div class="d-flex align-items-center ms-auto gap-2">
          <button class="btn btn-practo-login" *ngIf="!isLoggedIn()" (click)="logIn()">
            <i class="bi bi-box-arrow-in-right me-1"></i> LOGIN
          </button>

          <button class="btn btn-practo-logout" *ngIf="isLoggedIn()" (click)="logOut()">
            <i class="bi bi-power me-1"></i> LOGOUT
          </button>
        </div>

      </div>
    </div>
  </nav>
  <!-- Nav Bar -->


  <main [style.margin-left]="isLoggedIn() ? '220px' : '0'" style="transition: margin-left 0.3s ease;">
    <div class="container-fluid">

      <div class="row">
        <router-outlet></router-outlet>
      </div>

      <div *ngIf="!isLoggedIn()" class="landing-container py-5">
        <div class="container mb-5 mt-5">
          <div class="row g-4 justify-content-center">

            <div class="col-6 col-md-4 col-lg-3">
              <div class="service-card shadow-sm h-100">
                <div class="img-box bg-light-blue">
                  <img src="../assets/doctor/finddoc1.webp" alt="Find Doctor">
                </div>
                <div class="content p-3">
                  <h5 class="fw-bold">Find Doctors</h5>
                  <p class="text-muted small">Confirmed appointments</p>
                </div>
              </div>
            </div>

            <div class="col-6 col-md-4 col-lg-3">
              <div class="service-card shadow-sm h-100">
                <div class="img-box bg-light-teal">
                  <img src="../assets/doctor/bookAppointment.jpg" alt="Book Appointment">
                </div>
                <div class="content p-3">
                  <h5 class="fw-bold">Book Appointment</h5>
                  <p class="text-muted small">Confirmed appointments</p>
                </div>
              </div>
            </div>

            <div class="col-6 col-md-4 col-lg-3">
              <div class="service-card shadow-sm h-100">
                <div class="img-box bg-light-purple">
                  <img src="../assets/doctor/Report.jpg" alt="View Reports">
                </div>
                <div class="content p-3">
                  <h5 class="fw-bold">View Reports</h5>
                  <p class="text-muted small">Lab Reports</p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="bg-light py-5 mt-5">
          <div class="container">
            <div class="d-flex justify-content-between align-items-center mb-4">
              <h3 class="fw-bold">Read top articles from experts</h3>
              <button class="btn btn-primary btn-sm">See all articles</button>
            </div>

            <div class="row g-4">
              <div class="col-md-4">
                <div class="card border-0 overflow-hidden shadow-sm h-100">
                  <img src="../assets/blogs/Immune.jpg" class="card-img-top" alt="Tips">
                  <div class="card-body">
                    <span class="badge bg-info text-white mb-2">Self Care</span>
                    <h6 class="fw-bold">10 ways to boost your immunity this season</h6>
                    <p class="small text-muted">Written by Dr. Silva</p>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card border-0 overflow-hidden shadow-sm h-100">
                  <img src="../assets/blogs/MentalHealth.jpg" class="card-img-top" alt="Tips">
                  <div class="card-body">
                    <span class="badge bg-info text-white mb-2">Mental Health</span>
                    <h6 class="fw-bold">Simple techniques to reduce stress and anxiety</h6>
                    <p class="small text-muted">Written by Dr. Perera</p>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card border-0 overflow-hidden shadow-sm h-100">
                  <img src="../assets/blogs/Child care.webp" class="card-img-top" alt="Tips">
                  <div class="card-body">
                    <span class="badge bg-info text-white mb-2">Child Care</span>
                    <h6 class="fw-bold">Common childhood illnesses and when to see a doctor</h6>
                    <p class="small text-muted">Written by Dr. Kumari</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>